@import './custom.scss';

.nav{
    background: $bg;
    border-bottom: 1.5px solid rgb(186, 186, 186);
    align-items: center;

    @include breakpoint(md) {
        padding: 0 3rem;
    }
    transition: 0.3s ease all;

    &__brand{
        padding-left: 2px;
        width: 9rem;
        &__icon{
            width: 110%;
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }
    &__toggle{
        border: 0;
    }
    
    &__linkList{
        display: flex;
        justify-content: flex-end;
        padding-right: 1.7rem;

        &__link{
            padding-left: 5rem;
            font-family: $Header;
            font-size: 1.4rem;
            color: $font;
        }
    }   
}